html 
{ 
	height: 100% 
}

body 
{ 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#map-canvas 
{ 
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 97%;
	width: 58%;
	float: left;
}

.controls{
	height: 20%;
	overflow: auto;
	border-radius: 20px;
	background-color: rgba(233, 233, 233, 0.34);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;
	padding: 10px;
}

#dropPinRadius, #minTimestampMinutes{
	width: 50px;
}

button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:10px;
	width:auto;
	text-decoration:none;
	text-align:center;
	margin: 2px;
}
button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
button:active {
	position:relative;
	top:1px;
}

#left-container 
{ 
	float: left;
	width: 40%;
	height:100%;
}

input#dropPinRadius input#minTimestampMinutes
{
	width: 20%;
}

.social-container{
	height: 72.5%;
	overflow: auto;
	border-radius: 20px;
	background-color: rgba(233, 233, 233, 0.34);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

li.socialResult{
	list-style-type: none;
	border-radius: 20px;
	margin-left: -20px;
	margin-right: 20px;
	margin-top: 5px;
	background-color: rgba(0, 0, 0, 0.05);
}

li.socialResult p
{
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

ul#socialResults li
{
  	overflow: auto;
}

img.instagramThumbnail
{
	border-radius: 100px;
	margin-left: 5px;
	width: 100%;
}

div.instagramDescriptionContainer
{
	width: 65%;
	margin-right: 5px;
	margin-left: 5px;
}

div.instagramThumbnailContainer
{
	width: 25%;
}

div.instagramThumbnailContainer, div.instagramDescriptionContainer
{
	display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}